@font-face {
    font-family: 'Mario Kart DS';
    src: url('Mario-Kart-DS.woff2') format('woff2'),
        url('Mario-Kart-DS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

